body{
    background-color: #fff;
    font-family: 'Roboto', "sans-serif";
    font-size: 14px;
    margin: 0 auto;
 }

 header{
    background-color: #f2f2f2;
    margin-top: -20px;
 }

 .title{
    cursor: pointer;
    color: #20a8b4;
    margin-right: auto;
    margin-left: 25px;
    margin-top: 20px;
    padding-top: 15px;
 }

 .tool-bar{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
 }

 ul{
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -15px;
    padding-bottom: 20px;
 }

 li{
    display: flex;
    padding: 7px;
    margin-left: -20px;
    align-items: flex-start;
 }

 .second-body{
    margin: 100px 10px;
    font-family: 'Roboto', serif;
    padding: 5px;
 }

 h3{
    font-size: 14px;
    text-decoration: none;
 }

 img{
    display: none;
 }
    
 .code{
    color: #ff5c0f;
 }

 .learnToCode{
    color: #ff5c0f;
 }

 .topButton{
    color: white;
    background-color: #20a8b4;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    font-size: 15px;
    margin-left: -15px;
 }
  
 .topButton:hover{
    background-color: #ff5c0f
 }

 .bottomButton{
    color: white;
    background-color: #20a8b4;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    font-size: 15px;
 }

 .bottomButton:hover{
    background-color: #ff5c0f
 }

 a:link{
     text-decoration: none;
     color: #000;
 }
 
 a:visited{
    color: black;
 }

 a:hover{
    color: #ff5c0f;
    text-decoration: none;
 }








@media screen and (min-width: 768px) {
  li {
       display: flex;
       flex-wrap: space-around;
       width: 0 auto;
       margin: auto;
       margin-right: 15px;
 }

  body{
      background-color: #fff;
      font-family: 'Roboto', "sans-serif";
      font-size: 14px;
 }
  
  Header{
    display: flex;
    align-items: stretch;
    margin-top: 1px;
 }

 .title{
   cursor: pointer;
   color: #20a8b4;
   background-color: #f2f2f2;
   margin-right: auto;
   margin-left: 20px;
 }

 .tool-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    margin: auto;
    padding: 30px;
    font-size: 18px;
 }

 .second-body{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 30px;
    width: 40%;

 }

 img{
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-top: -315px;
    padding-right: 150px;
 }

 .topButton{
    color: white;
    background-color: #20a8b4;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding: 12px;
 }

 h2{
    width: 75%;
 
 }
 h3{
    width: 50%;
    margin-top: -5px;
 
 }

 .bottomButton{
    color: white;
    background-color: #20a8b4;
    border-radius: 10px;
    font-size: 15px;
    width: auto;
    padding: 12px;
    margin-top: -10px;

 }
 

}
